.tagnote-theme-changer-btn {
  margin-right: 22px;
  margin-right: 12px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 500ms;

  &.dark {
    transform: rotate(360deg);
  }
}
