.note {
  position: relative;
  // margin: 10px;
  background-color: #4449;
  display: inline-block;
  // width: 260px;
  color: var(--text-color);
  width: 100%;
  font-weight: 100;
  padding: 12px;
  padding-left: 17px;
  overflow: hidden;
  border-radius: 4px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border: 9px solid var(--c);
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color: transparent;
  }

  &:hover {
    .note-header {
      .note-header-button {
        opacity: 1;
        margin-right: 0;
      }
    }

    .note-footer {
      .delete-note-btn {
        opacity: 1;
      }
    }
  }

  .note-header {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 100;

    .note-header-tag {
      font-size: 28px;
    }

    .note-header-button {
      border-radius: 2px;
      width: 20px;
      height: 20px;
      opacity: 0;
      transition: 0.5s;
      margin-right: -20px;
    }
  }

  .note-footer {
    margin-top: 15px;

    .delete-note-btn {
      float: right;
      font-size: 20px;
      padding-bottom: 5px;
      cursor: pointer;
      border-radius: 55555px;
      opacity: 0;
      background-color: rgb(252, 74, 74);
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.tag {
  display: inline-block;
  border-radius: 9999px;
  margin: 5px;
  padding: 2px 10px;
  cursor: pointer;
  color: #222;
  font-weight: 400;

  &:hover {
    filter: brightness(110%);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
