.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;

  .loading-container {
    position: relative;
    width: 250px;
    height: 250px;

    .loading-block {
      position: absolute;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);

      &.top {
        &.first {
          top: 42.8%;
          left: 37.5%;
          z-index: 4;
          animation: topFirstAnim 1.3s ease infinite reverse;
        }

        &.second {
          top: 35.6%;
          left: 50%;
          animation: topSecondAnim 1.3s ease infinite reverse;
        }

        &.third {
          top: 42.8%;
          left: 62.5%;
          animation: topThirdAnim 1.3s ease infinite reverse;
          z-index: 3;
        }
      }

      &.center {
        top: 50%;
        left: 50%;
        animation: centerAnimation 1.3s ease infinite reverse;
        z-index: 5;
      }

      &.bottom {
        &.first {
          top: 57.3%;
          left: 37.5%;
          z-index: 3;
          animation: bottomFirstAnim 1.3s ease infinite reverse;
        }

        &.second {
          top: 64.5%;
          left: 50%;
          animation: bottomSecondAnim 1.3s ease infinite reverse;
          z-index: 4;
        }

        &.third {
          top: 57.3%;
          left: 62.5%;
          animation: bottomThirdAnim 1.3s ease infinite reverse;
          z-index: 2;
        }
      }

      .face {
        position: absolute;
        width: 70%;
        height: 70%;

        &:nth-child(1) {
          background-color: #eeb82c;
          transform: rotate(-45deg) skew(15deg, 15deg);
          top: -15%;
          left: 10%;
        }

        &:nth-child(2) {
          background-color: gray;
          transform: translate(-16%, 34.5%) rotate(15deg) skew(15deg, 15deg);
          top: 15%;
          left: -10%;
        }

        &:nth-child(3) {
          background-color: #444;
          transform: translate(73%, 34.5%) rotate(75deg) skew(15deg, 15deg);
          top: 15%;
          left: -10%;
        }
      }
    }
  }
}

@keyframes centerAnimation {
  0% {
    transform: translate(-50%, -50%) scale(2);
  }
  3% {
    transform: translate(-50%, -50%) scale(2);
  }
  99% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes topFirstAnim {
  0% {
    top: 10%;
    opacity: 0;
    left: 0%;
  }
  1% {
    opacity: 0;
    top: 10%;
    left: 0%;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 42.8%;
    left: 37.5%;
  }
}
@keyframes topSecondAnim {
  0% {
    top: 0%;
    opacity: 0;
  }
  1% {
    opacity: 0;
    top: 0%;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 35.6%;
  }
}
@keyframes topThirdAnim {
  0% {
    top: -10%;
    opacity: 0;
    left: 120%;
  }
  1% {
    opacity: 0;
    top: -10%;
    left: 120%;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 42.8%;
    opacity: 1;
    left: 62.5%;
  }
}
@keyframes bottomFirstAnim {
  0% {
    top: 120%;
    opacity: 0;
    left: 0%;
  }
  1% {
    top: 120%;
    opacity: 0;
    left: 0%;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 57.3%;
    left: 37.5%;
  }
}
@keyframes bottomSecondAnim {
  0% {
    top: 100%;
    opacity: 0;
  }
  1% {
    opacity: 0;
    top: 100%;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 64.5%;
  }
}
@keyframes bottomThirdAnim {
  0% {
    top: 140%;
    opacity: 0;
    left: 120%;
  }
  1% {
    top: 140%;
    opacity: 0;
    left: 120%;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 62.5%;
    opacity: 1;
    top: 57.3%;
  }
}
