.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3333;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &.off {
    display: none;
  }

  &.go {
    display: flex;

    .modal-body {
      animation: modalAnim 300ms ease-out reverse;
    }
  }

  &.on {
    display: flex;
  }

  &.come {
    display: flex;

    .modal-body {
      animation: modalAnim 300ms ease-out;
    }
  }

  .modal-body {
    position: relative;
    background: #444444;
    border-radius: 10px;

    &.wide {
      width: 86%;
      height: 80%;
    }

    &.narrow {
      width: 320px;
      height: 200px;
    }

    .close-modal-btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
      background: rgb(168, 54, 54);
      border-radius: 7px;
      cursor: pointer;
    }
  }
}

@keyframes modalAnim {
  0% {
    transform: scale(1.07);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
