.note-page {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .note-page-note-wrapper {
    flex-basis: 48%;
    position: relative;

    .edit-note-button {
      display: none;
      position: absolute;
      padding: 7px 10px;
      background-color: #36c;
      border-radius: 7px;
      bottom: -45px;
      right: 20px;
      color: var(--text-color);
      cursor: pointer;

      &:active {
        filter: brightness(150%);
      }
    }
  }

  .note-page-note {
    width: 100%;
    background-color: #222228;
    padding: 35px 20px;
    border-radius: 7px;

    .note-header {
      display: flex;
      justify-content: space-between;

      .note-header-tag {
        font-size: 22px;
        font-weight: 100;
      }

      .note-header-date {
        color: #888d;
        font-size: 14px;
      }
    }

    .note-body {
      padding: 10px 10px 20px 0;
      font-size: 17px;
      letter-spacing: 0.3px;
    }

    .note-footer {
      .note-other-notes {
        float: right;
        font-size: 13px;
      }
    }
  }

  .note-page-panel-wrapper {
    flex-basis: 48%;
    height: 100%;
    overflow-x: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 720px) {
  .note-page {
    display: block;
    position: relative;
    height: 100%;

    &.edit {
      .note-page-note-wrapper {
        opacity: 0;
        z-index: 1;
      }
      .note-page-panel-wrapper {
        opacity: 1;
        z-index: 2;
      }
    }

    .note-page-note-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 2;
      opacity: 1;
      transition: 0.5s;

      .edit-note-button {
        display: inline-block;
      }
    }

    .note-page-panel-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      opacity: 0;
      transition: 0.5s;
    }
  }
}
