.home-page {
  .home-tags-container {
    border: 1px solid red;
    max-width: 100vw;
    overflow-y: none;
    overflow: hidden;
    overflow-x: auto;
    padding-top: 5px;
    height: 36px;
  }
}

@media (max-width: 720px) {
  .home-page {
    .home-tags-container {
      display: none;
    }
  }
}
